<!-- Main Navbar after Logging in-->
<ul id="patient" class="dropdown-content">
  <li>
    <a href="/patients">Patient List</a>
  </li>
  <li>
    <a href="/AddPatient">Add Patient</a>
  </li>
</ul>
<ul id="hospital" class="dropdown-content">
  <li>
    <a href="/hospitals">Hospital List</a>
  </li>
  <li>
    <a href="/AddHospital">Add Hosptial</a>
  </li>
</ul>
<div class="navbar-fixed">
  <nav class="blue">
    <div class="container">
      <div class="nav-wrapper">
        <a><b>
            <font size="6" face="helvetica" color="white">NHS</font>
          </b></a>
        <a href="#" data-target="mobile-nav" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="/home">Test Schedules</a>
          </li>
          <li>
            <a href="/previousTests">Previous Tests</a>
          </li>
          <li><a class="dropdown-trigger" href="#!" data-target="patient">Patient<i
                class="material-icons right">arrow_drop_down</i></a></li>
          <li><a class="dropdown-trigger" href="#!" data-target="hospital">Hospital<i
                class="material-icons right">arrow_drop_down</i></a></li>
          <li>
            <a href="/register">Register</a>
          </li>
          <li>
            <a href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>