<div class="navbar-fixed">
    <nav class="blue">
      <div class="container">
        <div class="nav-wrapper">
          <a><b><font size="6" face="helvetica" color="white">NHS</font></b></a>
          <a href="#" data-target="mobile-nav" class="sidenav-trigger">
            <i class="material-icons">menu</i>
          </a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a href="/home">Home</a>
            </li>
            <li>
              <a href="#login">Search</a>
            </li>
            <li>
              <a href="/AddPatient">Add Patient</a>
            </li>
            <li>
              <a href="#Request">Send Email</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>