<!DOCTYPE html>
<html>

<head>
  <!-- Mobile SideNav Icon DropDown -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css" />
  <script src="javascript/vue.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


  <title>Blood Test Diary</title>
</head>

<body>
  <div th:replace="component/navbar.html"></div>

  <div th:replace="component/mnav.html"></div>

  <!--Section: Up coming test container and result sending container-->

  <section class="section section-search white center">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <!--section: Upcoming testing date-->
          <div class="card-panel blue">
            <h5 class="white-text text-lighten-5">Upcoming test</h5>
            <div class="input-field">
              <input type="text" id="idInput" onkeyup="searchPatientFunction()" placeholder="Search by patient id..." style="color: white;">
            </div>
            <table class="centered transparent white-text" id="patientTable">
              <thead>
                <tr>
                  <th>Patient Number</th>
                  <th>Name</th>
                  <th>Testing date</th>
                  <th>Hospital</th>
                  <th>Edit Testing</th>
                  <th>Delete Test</th>
                </tr>
              </thead>

              <tbody>
                <tr th:each="test:${tests}">
                  <td th:text="${test.patient.id}"></td>
                  <td id="patient_name">
                    <span th:text="${test.patient.forename}"></span>
                    <span th:text="${test.patient.surname}"></span>
                  </td>
                  <td th:text="${test.date}"></td>
                  <td th:text="${test.patient.local_hospital}"></td>
                  <td>
                    <a class="waves-effect waves-light btn modal-trigger" style="background-color: Green" href= "#${test.patient.id}">
                    Edit
                  </a>
                    <!-- Modal Structure -->
                    <div id = "${test.patient.id}" class="modal">
                      <!--Edit content-->
                      <div class="modal-content blue">
                        <h4>Edit Test</h4>

                        <h5 style="padding-central:0px">
                          <ul align="left">
                            <h3 > <span th:text="${test.patient.forename}"></span> <span th:text="${test.patient.surname}"></span></h3>
                            <li> ID: <span th:text="${test.patient.id}"></span></li>

                            <li>
                              <span><input id="OPA_field" type="text" class="validate" th:value="${test.OPA}" style="color: white" >
                              <span><label for="OPA_field" style="color: white">OPA</label></span>
                              </span>
                            </li>


                            <li>
                              <span><input id="date_field" type="datetime-local" class="validate" th:value="${test.date}" style="color: white" >
                              <span><label for="date_field" style="color: white">Date: YYYY/MM/DD hh:mm:ss</label></span>
                              </span>
                            </li>

                            <li style="color: white" >
                              <span style="color: white">Test Completion:</span>
                              <span style="color: white"><select th:value="${test.completed}"  style="color: white" >
                                                    <option value="1"><div style="color: white" >Compeleted</div></option>
                                                    <option value="0">Not Completed</option>
                                                </select>
                              </span>

                            </li>

                            <li >

                              <span style="color: white">Test Notification:</span>
                               <span><select th:value="${test.notified}" style="color: white" >
                                                    <option value="1">Notified</option>
                                                    <option value="0">Not Notified</option>
                                                </select>
                              </span>
                            </li>


                          </ul>
                        </h5>

                      </div>


                      <div class="modal-footer blue">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat" style="background-color:transparent; color: white">Cancel</a>
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat" style="color: white; background-color: Green"
                           @click="sendDeleteEmail">Save</a>
                  </td>
                  <td>
                    <a class="waves-effect waves-light btn modal-trigger" style="background-color: red" href= "#${test.patient.id}">
                      Delete
                    </a>
                    <!-- Modal Structure -->
                    <div id = "${test.patient.id}" class="modal">
                      <div class="modal-content blue">
                        <h4>Delete Test</h4>
                        <h5 style="padding-central:0px"> Are you sure to <b>delete</b> this test?</h5>

                      </div>
                      <div class="modal-footer blue">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat" style="background-color:transparent; color: white">No</a>
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat" style="color: white; background-color: red"
                          @click="sendDeleteEmail">Yes</a>

                  </td>


                </tr>

              </tbody>
            </table>
          </div>
        </div>
        <!--Send Result field-->

        <div class="col s12">
          <div class="card-panel blue">
            <h5 class="white-text text-lighten-5">Sending result</h5>
            <div class="input-field">
              <input type="text" id="resultInput" onkeyup="searchResultFunction()" placeholder=" Search patient Id..." style="color: white" >
            </div>

            <table class="transparent white-text" id="resultTable">
              <tr class="header">
                <th>ID</th>
                <th>Patient</th>
                <th>Send Result</th>
              </tr>
              <tr th:each="test:${tests}">
                <td th:text="${test.patient.id}"></td>
                <td>
                  <a th:text="${test.patient.surname}" class="waves-effect waves-light btn modal-trigger" th:attr="href='#' + ${test.patient.id}">
                  </a>
                  <!-- Modal Structure -->
                  <div th:attr= "id = ${test.patient.id}"  class="modal">
                    <div class="modal-content blue">
                      <h4> <span th:text="${test.patient.forename}"></span>
                        <span th:text="${test.patient.surname}"></span></h4>
                      <ul>
                        <li>ID: <span th:text="${test.patient.id}"> </span></li>
                        <li>Gender: <span th:text="${test.patient.sex}"></li>
                        <li>Next blooding test date: <span th:text="${test.date}"></span></li>
                      </ul>
                    </div>
                    <div class="modal-footer blue">
                      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                    </div>
                  </div>
                </td>

                <td>
                  <a class="waves-effect waves-light btn modal-trigger" th:attr="href='#1' + ${test.patient.id}">
                    Generate Email
                    <i class="material-icons right">send</i>
                  </a>
                  <!-- Modal Structure -->
                  <div th:attr= "id ='1'+${test.patient.id}" class="modal">
                    <div class="modal-content blue">
                      <h4> <span th:text="${test.patient.forename}"></span>
                        <span th:text="${test.patient.surname}"></span></h4>
                      <ul>
                        <li>ID: <span th:text="${test.patient.id}"> </span></li>
                        <li>Email: <span th:text="${test.patient.email}"></li>
                        <li>Test Date:
                          <span th:text="${test.date}" type="text" class="datepicker white-text"> </span>
                        </li>
                        <li>
                          <form action="#">
                            <div class="file-field input-field">
                              <div class="btn">
                                <span>Upload Report</span>
                                <input type="file">
                              </div>
                              <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                              </div>
                            </div>
                          </form>
                        </li>
                        <li>
                          <div class="row">
                            <h5>Sended Emails:</h5>
                            <div class="col s12 m4">
                              <label>
                                <input type="checkbox" class="filled-in" checked="checked" />
                                <span style="color: white;">Personal Email</span>
                              </label>
                            </div>
                            <div class="col s12 m4">
                              <label>
                                <input type="checkbox" class="filled-in" checked="checked" />
                                <span style="color: white;">Personal GP</span>
                              </label>
                            </div>
                          </div>
                          <div class="input-field col s12">
                            <input id="email" type="email" class="validate">
                            <label for="email" style="color: white;">Other Email</label>
                          </div>
                        </li>
                        <li>Comments:
                          <div class="row">
                            <form class="col s12">
                              <div class="row">
                                <div class="input-field col s6">
                                  <i class="material-icons prefix">mode_edit</i>
                                  <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                                  <label for="icon_prefix2" style="color: white;">Add any</label>
                                </div>
                              </div>
                            </form>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="modal-footer blue">
                      <a href="#!" class="modal-close waves-effect waves-green btn-flat white-text">Cancel</a>
                      <a href="#!" class="modal-close waves-effect waves-green btn-flat white-text">Send</a>
                </td>
              </tr>
            </table>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="card-panel blue">
          <h5 style="color:white">Other emails</h5>
        </div>
      </div>
    </div>



  </section>



  <!-- Footer -->
  <footer class="section blue darken-2 white-text center">
    <section class="section section-follow blue darken-2 white-text center">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h4>Follow NHS</h4>
            <a href="https://www.facebook.com/NHS24/" class="white-text">
              <i class="fab fa-facebook fa-4x"></i>
            </a>
            <a href="https://twitter.com/NHSEngland?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="white-text">
              <i class="fab fa-twitter fa-4x"></i>
            </a>
            <a href="https://www.instagram.com/nhsenglandldn/?hl=en" class="white-text">
              <i class="fab fa-instagram fa-4x"></i>
            </a>
          </div>
        </div>
    </section>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

  <script>
    const sideNav = document.querySelector(".sidenav");
    M.Sidenav.init(sideNav, {});

    //Autocomplete
    const ac = document.querySelector(".autocomplete");
    M.Autocomplete.init(ac, {
      data: {
        Apple: null,
        Microsoft: null,
        Google: null,
        harry: null,
        jack: null,
        universal: null
      }
    });
    //Modal
    $(document).ready(function () {
      $(".modal").modal();
    });

    $(document).ready(function () {
      $('.datepicker').datepicker();


    });
    $(function () {
      var dataEmail = {
        patient: ''
      }
      var vue = new Vue({
        el: '#sendEmail',
        data: dataEmail,
        mounted: function () {

        },
        method: {
          sendDeleteEmail: function () {

          }
        }
      })
    });
  </script>
<script>
  function searchPatientFunction() {
    var input, filter, table, tr, td, i;
    input = document.getElementById("idInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("patientTable");
    tr = table.getElementsByTagName("tr");


    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }

  function searchResultFunction() {
    var input, filter, table, tr, td, i;
    input = document.getElementById("resultInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("resultTable");
    tr = table.getElementsByTagName("tr");


    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
  $(document).ready(function () {
    $('select').formSelect();
  });
</script>
</body>

</html>