<!DOCTYPE html>
<html>

<head>
  <!-- Mobile SideNav Icon DropDown -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"
    integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
    crossorigin="anonymous"></script>

  <script src="javascript/vue.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <title>Blood Test Diary</title>
</head>

<body>
  <!-- Menu Bar -->
  <div th:replace="component/navbar.html"></div>

  <div th:replace="component/mnav.html"></div>

  <!-- Patient Table -->
  <section class="section section-login light-blue lighten-5 center">
    <div class="row">
      <div class="col s12">
        <div class="card blue lighten-3">
          <table class="highlight">
            <thead>
              <tr>
                <th>ID</th>
                <th>OPA</th>
                <th>DATE</th>
                <th>COMPLETED</th>
                <th>COMMENT</th>
                <th>NOTIFIED</th>
                <th>idpatient</th>
                <th>idlabel</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="testSchedule:${testSchedules}">
                <td th:text="${testSchedule.id}"></td>
                <td th:text="${testSchedule.OPA}"></td>
                <td th:text="date"></td>
                <td th:text="${testSchedule.completed}"></td>
                <td th:text="${testSchedule.commet}"></td>
                <td th:text="${testSchedule.notified}"></td>
                <td th:text="${testSchedule.patient.id}"></td>
                <td th:text="${testSchedule.idlabel}"></td>
                <td>
                  <!-- Modal Trigger -->
                  <a href="#modal${testSchedule.patient.id}"  class="waves-effect waves-light btn modal-trigger" >Modal</a>
                  <!-- Modal Structure -->
                  <div id="modal${testSchedule.patient.id}" class="modal modal-fixed-footer">
                    <div  class="modal-content">

                      <blockquote>
                        <h4 th:text="${testSchedule.patient.forename}"></h4>
                        <h4 th:text="${testSchedule.patient.surname}"></h4>
                      </blockquote>
                      
                      <div class="row">
                        <!-- Place -->
                        <div class="col s12 place mt-4 p-0">
                          <div class="col s2 m2 l2"><i class="material-icons"> place </i></div>
                          <div class="col s10 m10 l10">
                            <p class="m-0"  th:text="*{address}" ></p>
                          </div>
                        </div>
                        <!-- Phone -->
                        <div class="col s12 phone mt-4 p-0">
                          <div class="col s2 m2 l2"><i class="material-icons"> call </i></div>
                          <div class="col s10 m10 l10">
                            <p class="m-0"  >insert phone number on db</p>
                          </div>
                        </div>
                        <!-- Mail -->
                        <div class="col s12 mail mt-4 p-0">
                          <div class="col s2 m2 l2"><i class="material-icons"> mail_outline </i></div>
                          <div class="col s10 m10 l10">
                            <p class="m-0" th:text="${testSchedule.patient.email}"></p>
                          </div>
                        </div>
                      </div>
                      <!-- 
                        <table>
                          <tbody>
                          <tr th:each="patient:${patients}">
                            <td><a href="/editPatient" th:href="@{editPatient/{id}(id=${patient.id})}" class="btn"> Edit </td>
                            <td th:text="${patient.forename}"></td>
                            <td th:text="${patient.surname}"></td>
                            <td th:text="${patient.sex}"></td>
                            <td th:text="${patient.DOB}"></td>
                            <td th:text="${patient.diagnosis}"></td>
                            <td th:text="${patient.transplant}"></td>
                            <td th:text="${patient.local_hospital}"></td>
                            <td th:text="${patient.surgery}"></td>
                            <td th:text="${patient.comments}"></td>
                            <td><span class="badge red">urgent</span></td>
                          </tr>
                        </tbody>
                      </table>
                      -->
                    </div>
                    <div class="modal-footer">
                      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="section blue darken-2 white-text center">
    <section class="section section-follow blue darken-2 white-text center">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h4>Follow NHS</h4>
            <a href="https://www.facebook.com/NHS24/" class="white-text">
              <i class="fab fa-facebook fa-4x"></i>
            </a>
            <a href="https://twitter.com/NHSEngland?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
              class="white-text">
              <i class="fab fa-twitter fa-4x"></i>
            </a>
            <a href="https://www.instagram.com/nhsenglandldn/?hl=en" class="white-text">
              <i class="fab fa-instagram fa-4x"></i>
            </a>
          </div>
        </div>
      </div>
    </section>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

  <script>
    const sideNav = document.querySelector('.sidenav');
    M.Sidenav.init(sideNav, {});

    //Modal
    $(document).ready(function () {
      $(".modal").modal();
    });

  </script>

</body>

</html>