<!DOCTYPE html>
<html lang="en" xmls:th="http://www.thymleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <form th:action="@{/login}" method = "post">
        <div>
            <label>User Name: <input type="text" name="username"/></label>
            <label>Password: <input type="password" name="password"/></label>
        </div>
        <div><input type="submit" value="Login"/></div>
    </form>
</body>
</html>