<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>demo</title>
    <link th:href="@{/css/site.css}" rel="stylesheet"/>
</head>
<body>
    <table>
        <tr>
            <th>Forename</th>
            <th>Surname</th>
            <th>email</th>
        </tr>
        <tr th:each="patients:${patients}">
            <td th:text="${patients.forename}"></td>
            <td th:text="${patients.surname}"></td>
            <td th:text="${patients.email}"></td>
        </tr>
    </table>

</body>
</html>