<!DOCTYPE html>
<html>

<head>
  <!-- Mobile SideNav Icon DropDown -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
    crossorigin="anonymous"></script>
  <title>Blood Test Diary</title>
</head>

<body>
  <!-- Menu Bar -->
  <div th:replace="component/navbar.html"></div>

  <div th:replace="component/mnav.html"></div>

  <!-- Patient Table -->
  <section class="section section-login light-blue lighten-5 center">
    <div class="row">
      <div class="col s6">
        <input placeholder="Search By patient name" id="name"  onkeyup="searchPatientFunction()" type="text" class="validate">
      </div>
      <div class="col s12">
        <div class="card blue lighten-3">
          <table id = "patientTable" class="highlight">
            <thead>
              <tr>
                 <th>Edit Patient</th>
                 <th>Add Patient Test</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Date Of Birth</th>
                <th>Diagnosis</th>
                <th>Transplant</th>
                <th>LocalHospital</th>
                <th>Surgery</th>
                <th>Comments</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="patient:${patients}">
                <td><a href="/editPatient" th:href="@{editPatient/{id}(id=${patient.id})}" class="btn"> Edit </td>
                <td><a href="/addTest" th:href="@{addTest/{id}(id=${patient.id})}" class="btn"> AddTest </td>
                <td th:text="${patient.forename} + ' ' + ${patient.surname}" placeholder="empty"></td>
                <td th:text="${patient.sex}" placeholder="empty"></td>
                <td th:text="${patient.email}" placeholder="empty"></td>
                <td th:text="${patient.phone}" placeholder="empty"></td>
                <td th:text="${patient.DOB}" placeholder="empty"></td>
                <td th:text="${patient.diagnosis}" placeholder="empty"></td>
                <td th:text="${patient.transplant}" placeholder="empty"></td>
                <td th:text="${patient.local_hospital}" placeholder="empty"></td>
                <td th:text="${patient.surgery}" placeholder="empty"></td>
                <td th:text="${patient.comments}" placeholder="empty"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <div th:replace="component/footer.html"></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

  <script th:src="@{/js/patient.js}" > </script>
  <script  th:src="@{/js/nav.js}" > </script>
</body>

</html>