<html>
<body>
<form action="/" th:object="${registration}" method="POST" enctype="utf8">
    <div>
        <label for="username">Username<input type="text" name="username" /></label>
    </div>

    <div>
        <label for="password">Password <input type="password" name="password" /> </label>
    </div>
    <div>
        <label>confirm</label>
        <input type="password" name = "confirmPassword"/>
    </div>
    <button type="submit"  value="registration"" >submit</button>
</form>
 
<a th:href="@{/login.html}" ">login</a>
</body>
</html>
